body {
  margin: 0;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.centerOnPage {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  /* color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
