html,
body {
    margin: 0;
    padding: 0;
    font-family:  "Benton Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    /* color: rgba(0, 0, 0, 0.8); */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /* overflow-y: auto; */
}

/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
} */

#root {
    height: 100%;
    width: 100%;
}
